@font-face {
    font-family: 'Euclid Circular';
    src: url('fonts/Euclid\ Circular\ A\ Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Euclid Circular', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.loginForm{
    display: flex;
    flex-direction: column;
    width: 491px;
    margin: 50px 0px 50px 42px;
}
.loginTitle{
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
    font-family: 'Value Serif Pro Medium', serif;
    color: rgb(0, 104, 74);
}
.signupDiv{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 600;
    color: rgb(28, 45, 56);
    margin-bottom: 32px;
}
.signupLink{
    text-decoration: none;
    font-weight: 600;
    color: rgb(1, 107, 248);
}
.otherSigninMethodsDiv{
    display: flex;
    flex-direction: column;
}
.signinMethodButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(92, 108, 117);
    width: 100%;

    box-sizing: border-box;
    margin-top: 16px;
    border-radius: 6px;
    border: 1px solid rgb(136, 147, 151);
    box-shadow: lightgray 0px 1px;
    font-weight: 600;
    transition: box-shadow .4s ease;
}

.signinMethodButton:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.emailAndPasswordText{
    font-size: 13px;
    color: rgb(92, 108, 117);
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
}

.emailAndPasswordText::before{
    content: "";
    flex: 1 1 10%;
    border-bottom: 1px solid rgb(193, 199, 198);
    margin: 0px 10px;
    transform: translateY(-50%);

}

.emailAndPasswordText::after{
    content: "";
    flex: 1 1 10%;
    border-bottom: 1px solid rgb(193, 199, 198);
    margin: 0px 10px;
    transform: translateY(-50%);
}

.emailAddressDiv{
    display: flex;
    flex-direction: column;
}

.emailLabel{
    font-size: 13px;
    color: rgb(61, 79, 88);
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0.02em;

    margin-bottom: 10px;
}

.emailInput{
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: solid 1px rgb(136, 147, 151);
    padding: 0 10px;
    transition: box-shadow .4s ease;
    margin-bottom: 60px;
}

.emailInput:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nextButton{
    width: 88px;
    height: 33px;
    padding: 0 11px;
    font-size: 18px;
    color: #889397;

    border-radius: 7px;
    border: 1px solid rgb(193, 199, 198);
}

.nextButton:hover{
    cursor: not-allowed;
}

.asideContent{
    color: #fff;
    background-size: cover;
    background-position: center center;
}

.asideItems{
    padding: 60px;
}

.asideTitle{
    font-size: 32px;
    font-weight: 700;
}

.asideParagraph{
    line-height: 24px;
    font-size: 16px;
}

.asideLink{
    color: #fff;
    font-weight: 800;
    text-decoration: none;
}

.asideMobileLink{
    text-decoration: none;
}

.asideLinkText{
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

.asideLinkArrow{
    font-weight: 100;
    color: #fff;
}

@media screen and (min-width: 1025px){
    .asideContent{
        background-image: url(./assets/asideBackground.svg);
        width: 100%;
        height: 100vh;
        order: 2;
        display: block;
        left: 450px;
    }
    .asideMobileLink{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1025px){
    .asideContent{
        background-image: url(./assets/asideBackgroundSmall.svg);
        width: 100%;
        height: 100vh;
        order: 2;
        display: block;
        left: 450px;
    }
    .asideMobileLink{
        display: none;
    }
}

@media screen and (max-width: 767px){
    body{
        flex-direction: column;
    }

    .loginForm{
        order: 2;
        width: 96%;
        margin: 20px 10px 20px 10px;
    }
    .asideContent{
        background-image: url(./assets/asideBackgroundPhone.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
    }
    .asideItems{
        display: flex;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .emailAndPasswordText{
        width: 100%;
    }
    .signinMethodButton{
        width: 97%;
    }
    .emailInput{
        width: 97%;
        padding: 0;
    }
    .asideTitle{
        display: none;
    }
    .asideParagraph{
        display: none;
    }
    .asideLink{
        display: none;
    }
    .asideLinkText{
        font-weight: 700;
        font-size: 15px;
        border-bottom: 1px solid #E8EDEB;
    }
}